$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;
$bannerblue:#4F9ADA;

// bg colors of cards in order

$yelowcolor:#EEC20B;
$greencolor:#3F7E44;
//
$bagecolor:#A21C42;
$yelloishorangecolor:#E89B24;
$lightbrowncolor:#BF8B2E;
$seabluecolor:#4E98D9;
$tregreencolor:#56C02B;
//
$lifegreencolor:#4C9F38;
$lightredcolor:#DE3121;
$industryorange:#E26525;
$sustainyellow:#E89B24;
$productionbrown:#BF8B2E;
$peaceblue:#33699D;