
// ---------- !important   ---------
// all the mixins are inside _mixins.scss file
// all the variables are inside _variable.scss file

// landing page's first section  styles (right below navbar) goes here
$yelowcolor:#EEC20B;
$greencolor:#3F7E44;
//
$bagecolor:#A21C42;
$yelloishorangecolor:#E89B24;
$lightbrowncolor:#BF8B2E;
$seabluecolor:#4E98D9;
$tregreencolor:#56C02B;
//
$lifegreencolor:#4C9F38;
$lightredcolor:#DE3121;
$industryorange:#E26525;
$sustainyellow:#E89B24;
$productionbrown:#BF8B2E;
$peaceblue:#33699D;

.yelowcolor{background:$yelowcolor;}
.greencolor{background:$greencolor;}

.bagecolor{background:$bagecolor;}
.yelloishorangecolor{background:$yelloishorangecolor;}
.lightbrowncolor{background:$lightbrowncolor;}
.seabluecolor{background:$seabluecolor;}
.tregreencolor{background:$tregreencolor;}

.lifegreencolor{background:$lifegreencolor;}
.lightredcolor{background:$lightredcolor;}
.industryorange{background:$industryorange;}
.sustainyellow{background:$sustainyellow;}
.productionbrown{background:$productionbrown;}
.peaceblue{background:$peaceblue;}

.header{
  &__banner{
  }
  &__title{
    color:$bannerblue;
    z-index:99;
    font-size:4rem;
    padding-left: 30px;
  }
  &__banner_img{

  }
}
.display-4{
    font-weight: 700;
    line-height: 55px;
    margin-right:5px;
}
.section{
    &-title{
        font-size: 1.5rem;
        font-weight: 100;
        padding: 30px 0  20px 0;
    }
}
.cardwrap{
    .card{
        width: 100%;
        max-width: 220px;
        border: none;
        color:$white; 
        height: 220px;
        border-radius: 0; 
        &-header{
            background: none;
            border: none;
            padding:.7rem;
        }
        &-text{
            font-size: 1.2rem;
            font-weight: 600;
        }
        &-img_wrapper{
            padding: 0 30px;
            img{
                width: 80%;
                margin-left:10%;
            }
        } 
    }
}