h1, h2, h3 {
    font-weight: 700;
    margin-top: 0px;
    font-family: $base-font;
    font-weight: 400;
}
h1 {
    font-size:$display1-font;
    letter-spacing: -.2rem;
}
h2 {
    font-size:$display2-font;
    letter-spacing: -.2rem;
}
@mixin headline_2{
    font-size: $headeline_2-font;
    font-weight: 300;
}
@mixin article_1 {
    font-size:$article_1-font;
    font-weight: 300;
}
@mixin article_font_greycolor{
    font-size:$article-font;
    font-weight:300;
    letter-spacing: .05rem;
    line-height: 2rem;
    opacity:$opacity-50-perecnt;
}
@mixin article_1_font_greycolor{
    font-size:$article_1-font;
    font-weight:300;
    opacity:$opacity-50-perecnt;
}
@mixin paragraph_3_greycolor{
    opacity:$opacity-50-perecnt;
    font-size:$paragraph_3;
}