// Media Queries
$mq-575-down: "only screen and (max-width: 575px)";

$mq-620-down: "only screen and (max-width: 620px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-768-down: "only screen and (max-width: 768px)";
$mq-769-up: "only screen and (min-width: 769px)";

$mq-974-down: "only screen and (max-width: 974px)";
$mq-975-up: "only screen and (min-width: 975px)";

$mq-1200-down: "only screen and (max-width: 1199px)";
$mq-1200-up: "only screen and (min-width: 1200px)";

$mq-1400-up: "only screen and (min-width: 1400px)";

// Font variables

// Font family variables
$base-font:'Poppins', sans-serif;

// Font size variables

// style for test3
 