// Media Queries
$mq-575-down: "only screen and (max-width: 575px)";

$mq-620-down: "only screen and (max-width: 620px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-768-down: "only screen and (max-width: 768px)";
$mq-769-up: "only screen and (min-width: 769px)";

$mq-900-down: "only screen and (max-width: 899px)";
$mq-900-up: "only screen and (min-width: 900px)";

$mq-1000-down: "only screen and (max-width: 999px)";
$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-1180-up: "only screen and (min-width: 1180px)";

$mq-1400-up: "only screen and (min-width: 1400px)";

// Font variables

// Font family variables
$base-font: 'Poppins', ;

// Font size variables
$normal-font:16px;
$display1-font:72px;
$display2-font:64px;
$display3-font:48px;
$headeline_2-font:24px;
$article-font:22px;
$article_1-font:18px;
$paragraph_3:14px;

// color variables
$normal-color:#111111 !important;
$white:#ffffff !important;
$input-color:#A9ABBD; 
// subscribe bg color
$subscribe-section-bg:#A9ABBD;
$form-input-placeholder:#D9DCE3;

// button color variables
$input-grey-button:#E1E4EB;
$buy-button:#6AC75A;

// button hover color variables
$button-purple-hover:#5F2CE6;


//border color variables
$grey-button-border:#E1E4EB;
$green-button-border:#6AC75A;

// 50% opacity for text variable
$opacity-50-perecnt:.5;

// SVG color for the cards in services and features section
$purple_bg:#EDE6FE;
$purple_icon:#783BFF;

$green_bg:#DDFBEE;
$green_icon:#6AC75A;

$red_bg:#FFEAF1;
$black_icon:#111111;

$blue_bg:#EFF2FF;
$blue_icon:#465DFF;

$orange_bg:#FFE6DF;
$orange_icon:#FF6D43;

$yellow_bg:#FCF3DF;
$yellow_icon:#F9C45C;